<html lang="en">
<nav>
  <%= link_to("Home Page", "/") %>
  <%= link_to("Pet Index", "/pets") %>
  <%= link_to("Shelter Index", "/shelters") %>
</nav>
<main>
<% @shelters.each do |shelter| %>
  <h1><%= link_to("#{shelter.name}", "/shelters/#{shelter.id}") %></h1>
  <%= link_to("Update Shelter", "/shelters/#{shelter.id}/edit") %>
  <%= link_to("Delete Shelter", "/shelters/#{shelter.id}", method: :delete) %>
<% end %>
<%= link_to("New Shelter", "/shelters/new") %>
</main>
