<html lang="en">
<main>
  <% @pets.each do |pet| %>
    <section>
      <%= image_tag(pet.image, alt: "#{pet.name}'s photo.", id: "#{pet.name.downcase}-image") %>
      <%= tag.h2 "Name: #{pet.name}" %>
      <%= tag.p "Age: #{pet.approximate_age}" %>
      <%= tag.p "Sex: #{pet.sex}" %>
      <%= tag.p "Shelter: #{pet.shelter.name}" %>
      <%= link_to("Update Pet", "/pets/#{pet.id}/edit") %>
    </section>
  <% end %>
</main>
